.live-feeds-block {
  clear: both;
}

.block-live-feeds h2 {
  background: #373737;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-weight: normal !important;
  margin-bottom: 18px;
  padding: 0 25px 0 10px;
  font-size: 110%;
  line-height: 30px;
}

#sidebar-first .block-live-feeds h2,
#sidebar-second .block-live-feeds h2 {
  padding: 2px 10px;
  color: #333;
  border: 1px solid #c5c4c4;
  background: rgb(242,242,242); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(242,242,242,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
}

.ie #sidebar-first .block-live-feeds h2,
.ie #sidebar-second .block-live-feeds h2 {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
}

.live-feeds-block > div:last-child,
.live-feeds-block > div.calendar-item:last-child {
  border-bottom: none;
}

.live-feeds-block .rss-icon {
  float: right;
  height: 30px;
  width: 30px;
  margin: -53px -12px 0 0;
  border-radius: 0 3px 0 0;
  border-left: 1px solid #fff;
  background: #c34500;
  text-decoration: none;
}

.live-feeds-block .icon-rss {
  color: #fff;
  padding: 7px 0 0 7px;
  font-size: 20px;
}
/* add focus/hover/acitve effects?
.live-feeds-block .rss-icon:hover,
.live-feeds-block .rss-icon:focus,
.live-feeds-block .rss-icon:focus {
  background: #999;
}*/

.live-feeds-block .news-item,
.live-feeds-block .calendar-item {
  border-bottom: 1px dotted #ccc;
  clear: both;
  margin-bottom: 1.5em;
  overflow: auto;
  padding-bottom: 1.5em;
}

.live-feeds-block .news-item  h3.title,
.live-feeds-block .calendar-item p.title {
  color: #000000;
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.live-feeds-block .news-item  h3.title,
.live-feeds-block .calendar-item .description,
.live-feeds-block .calendar-item .description p.title,
.live-feeds-block .news-item .news-body {
  line-height: 18px;
  font-size: 14px;
}

/* Move the contextual links gear menu over
 * so that it is not under the rss icon
 */
.block-live-feeds .contextual-links-wrapper {
  right: 25px;
}
