.live-feeds-block {
  clear: both;
}

.block-live-feeds {
  position: relative;
}

.block-live-feeds h2 {
  background: #373737;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font-weight: normal !important;
  margin-bottom: 18px;
  padding: 0 25px 0 10px;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Gudea',Arial,Helvetica,Verdana,sans-serif;
}

#sidebar-first .block-live-feeds h2,
#sidebar-second .block-live-feeds h2 {
  padding: 3px 10px;
}

.live-feeds-block > div:last-child,
.live-feeds-block > div.calendar-item:last-child {
  border-bottom: none;
}

.live-feeds-block .rss-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 0 3px 0 0;
  border-left: 1px solid #fff;
  background: #c34500;
  text-decoration: none;
}

.live-feeds-block .icon-rss {
  color: #fff;
  padding: 5px 0 0 7px;
  font-size: 20px;
}

.live-feeds-block .news-item,
.live-feeds-block .calendar-item {
  border-bottom: 1px dotted #ccc;
  clear: both;
  margin-bottom: 1.5em;
  overflow: auto;
  padding-bottom: 1.5em;
}

.live-feeds-block .news-item  h3.title,
.live-feeds-block .calendar-item p.title {
  color: #000000;
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.live-feeds-block .calendar-item p.title {
  display: block;
}

.live-feeds-block .news-item  h3.title,
.live-feeds-block .calendar-item .description,
.live-feeds-block .calendar-item .description p.title,
.live-feeds-block .news-item .news-body {
  line-height: 18px;
  font-size: 14px;
}

/* Move the contextual links gear menu over
 * so that it is not under the rss icon
 */
.block-live-feeds .contextual-links-wrapper {
  right: 25px;
}